@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.content {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 20px;
}

.container {
  padding: 30px;
  max-width: 800px;
  margin: 0px auto;
  border: black solid 1px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.unordered-list {
  /* .list__title */
  /* .list__content */
}

.unordered-list__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.unordered-list__content {
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 20px;
  line-height: 20px;
}

.unordered-list__content li {
  padding-left: 20px;
}

.unordered-list__content li::before {
  content: url(/img/icons/li.svg) " ";
}

.ordered-list {
  /* .list__title */
  /* .list__content */
}

.ordered-list__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ordered-list__content {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 20px;
  padding-left: 20px;
}

.ordered-list__content p::before {
  content: "- ";
  padding-left: 30px;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 30px;
}

.text {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 20px;
}
